Construct3/Construct3/Construct.UX.ViewModels.Data/Service References/DataServiceReference/DataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" />
  <xs:import schemaLocation="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Data" />
  <xs:import schemaLocation="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
  <xs:import schemaLocation="http://localhost:15000/00000000-0000-0000-0000-000000000000/Data/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddTypeWithXML">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeWithXMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTypeWithXMLResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeWithDataType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="source" nillable="true" type="q1:DataTypeSource" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="dataType" nillable="true" type="q2:DataType" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="properties" nillable="true" type="q3:ArrayOfPropertyType" />
        <xs:element minOccurs="0" name="IsAggregateType" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTypeWithDataTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTypeWithDataTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetContextResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Data" minOccurs="0" name="datum" nillable="true" type="q4:Datum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetAllTypesResult" nillable="true" type="q5:ArrayOfDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUris">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="dataType" nillable="true" type="q6:DataType" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="propertyType" nillable="true" type="q7:PropertyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUrisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="GetUrisResult" nillable="true" type="q8:ReadOnlyCollectionOfanyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyValueEndpoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="propertyID" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertyValueEndpointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPropertyValueEndpointResult" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Data" minOccurs="0" name="datum" nillable="true" type="q10:Datum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>