Construct3/Construct3/Construct.UX.ViewModels.Visualizations/Service References/VisualizationsServiceReference/VisualizationsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12000/00000000-0000-0000-0000-000000000000/Visualizations/VisualizationsService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Visualization">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyID" type="ser:guid" />
      <xs:element minOccurs="0" name="VisualizerID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visualization" nillable="true" type="tns:Visualization" />
  <xs:complexType name="PropertyType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PropertyParent">
        <xs:sequence>
          <xs:element minOccurs="0" name="PropertyDataTypeID" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyType" nillable="true" type="tns:PropertyType" />
  <xs:complexType name="PropertyParent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Property">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParentDataTypeID" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PropertyParent" nillable="true" type="tns:PropertyParent" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:complexType name="DataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeParentID" type="ser:guid" />
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCoreType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:complexType name="ArrayOfDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataType" nillable="true" type="tns:DataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataType" nillable="true" type="tns:ArrayOfDataType" />
  <xs:complexType name="ArrayOfPropertyType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PropertyType" nillable="true" type="tns:PropertyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPropertyType" nillable="true" type="tns:ArrayOfPropertyType" />
  <xs:complexType name="ArrayOfVisualizer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visualizer" nillable="true" type="tns:Visualizer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisualizer" nillable="true" type="tns:ArrayOfVisualizer" />
  <xs:complexType name="Visualizer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimitiveDataTypeID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visualizer" nillable="true" type="tns:Visualizer" />
  <xs:complexType name="ArrayOfSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Source" nillable="true" type="tns:Source" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSource" nillable="true" type="tns:ArrayOfSource" />
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Source" nillable="true" type="tns:Source" />
  <xs:complexType name="ArrayOfVisualization">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visualization" nillable="true" type="tns:Visualization" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisualization" nillable="true" type="tns:ArrayOfVisualization" />
  <xs:complexType name="ArrayOfLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Label" nillable="true" type="tns:Label" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabel" nillable="true" type="tns:ArrayOfLabel" />
  <xs:complexType name="Label">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Label" nillable="true" type="tns:Label" />
  <xs:complexType name="ArrayOfTaxonomy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Taxonomy" nillable="true" type="tns:Taxonomy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxonomy" nillable="true" type="tns:ArrayOfTaxonomy" />
  <xs:complexType name="Taxonomy">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Taxonomy" nillable="true" type="tns:Taxonomy" />
  <xs:complexType name="ArrayOfTaxonomyLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaxonomyLabel" nillable="true" type="tns:TaxonomyLabel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaxonomyLabel" nillable="true" type="tns:ArrayOfTaxonomyLabel" />
  <xs:complexType name="TaxonomyLabel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LabelID" type="ser:guid" />
      <xs:element minOccurs="0" name="TaxonomyID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaxonomyLabel" nillable="true" type="tns:TaxonomyLabel" />
</xs:schema>