Construct3/Construct3/Construct.UX.ViewModels.Sessions/Service References/SessionsServiceReference/SessionsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13000/00000000-0000-0000-0000-000000000000/Sessions/SessionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" />
  <xs:element name="AddSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="session" nillable="true" type="q1:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSessionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionSource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="sessionSource" nillable="true" type="q2:SessionSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionSourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSessionSourceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSessionsResult" nillable="true" type="q3:ArrayOfSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSourcesResult" nillable="true" type="q4:ArrayOfSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSessionSourcesResult" nillable="true" type="q5:ArrayOfSessionSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionDesignCallbackReceived">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionDesignCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>