Construct3/Construct3/Construct.UX.ViewModels.Sessions/Service References/SessionsServiceReference/SessionsService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13000/00000000-0000-0000-0000-000000000000/Sessions/SessionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="FriendlyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Interval" type="xs:long" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="SessionSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="SessionID" type="ser:guid" />
      <xs:element minOccurs="0" name="SourceID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionSource" nillable="true" type="tns:SessionSource" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
  <xs:complexType name="ArrayOfSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Source" nillable="true" type="tns:Source" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSource" nillable="true" type="tns:ArrayOfSource" />
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Source" nillable="true" type="tns:Source" />
  <xs:complexType name="ArrayOfSessionSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionSource" nillable="true" type="tns:SessionSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionSource" nillable="true" type="tns:ArrayOfSessionSource" />
</xs:schema>