Construct3/Construct3/Construct.UX.ViewModels.Meaning/Service References/MeaningServiceReference/MeaningService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10000/00000000-0000-0000-0000-000000000000/Meaning/MeaningService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" />
  <xs:element name="AddTaxonomy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="taxonomy" nillable="true" type="q1:Taxonomy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaxonomyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaxonomyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="label" nillable="true" type="q2:Label" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLabelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaxonomyLabel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="taxonomyLabel" nillable="true" type="q3:TaxonomyLabel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTaxonomyLabelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTaxonomyLabelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonomies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonomiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetTaxonomiesResult" nillable="true" type="q4:ArrayOfTaxonomy" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetLabelsResult" nillable="true" type="q5:ArrayOfLabel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonomyLabels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxonomyLabelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetTaxonomyLabelsResult" nillable="true" type="q6:ArrayOfTaxonomyLabel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemanticSubjectCallbackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theSubject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemanticSubjectCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemanticPredicateCallbackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thePredicate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemanticPredicateCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemanticObjectCallbackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="theObject" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSemanticObjectCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>