Construct3/Construct3/Construct.UX.ViewModels.Sources/Service References/SourcesServiceReference/SourcesService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Sensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentRendezvous" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InstalledFromServerDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsHealthy" type="xs:boolean" />
      <xs:element minOccurs="0" name="SensorHostID" type="ser:guid" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sensor" nillable="true" type="tns:Sensor" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="LinqExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="SensorHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsHealthy" type="xs:boolean" />
      <xs:element minOccurs="0" name="SensorHostTypeID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorHost" nillable="true" type="tns:SensorHost" />
  <xs:complexType name="SensorRuntime">
    <xs:sequence>
      <xs:element minOccurs="0" name="CacheUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InstallerUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallerXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallerZip" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="RecCreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorRuntime" nillable="true" type="tns:SensorRuntime" />
  <xs:complexType name="ArrayOfSensor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sensor" nillable="true" type="tns:Sensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensor" nillable="true" type="tns:ArrayOfSensor" />
  <xs:complexType name="ArrayOfHumanReadableSensor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HumanReadableSensor" nillable="true" type="tns:HumanReadableSensor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHumanReadableSensor" nillable="true" type="tns:ArrayOfHumanReadableSensor" />
  <xs:complexType name="HumanReadableSensor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentRendezvous" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="InstalledFromServerDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsHealthy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorHostID" type="ser:guid" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HumanReadableSensor" nillable="true" type="tns:HumanReadableSensor" />
  <xs:complexType name="ArrayOfSensorCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorCommand" nillable="true" type="tns:SensorCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorCommand" nillable="true" type="tns:ArrayOfSensorCommand" />
  <xs:complexType name="SensorCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="SensorCommandParameters" nillable="true" type="tns:ArrayOfSensorCommandParameter" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorCommand" nillable="true" type="tns:SensorCommand" />
  <xs:complexType name="ArrayOfSensorCommandParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorCommandParameter" nillable="true" type="tns:SensorCommandParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorCommandParameter" nillable="true" type="tns:ArrayOfSensorCommandParameter" />
  <xs:complexType name="SensorCommandParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorCommandID" type="ser:guid" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorCommandParameter" nillable="true" type="tns:SensorCommandParameter" />
  <xs:complexType name="ArrayOfDataType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataType" nillable="true" type="tns:DataType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataType" nillable="true" type="tns:ArrayOfDataType" />
  <xs:complexType name="DataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeParentID" type="ser:guid" />
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCoreType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:complexType name="ArrayOfSensorHost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorHost" nillable="true" type="tns:SensorHost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorHost" nillable="true" type="tns:ArrayOfSensorHost" />
  <xs:complexType name="ArrayOfSensorHostType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorHostType" nillable="true" type="tns:SensorHostType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorHostType" nillable="true" type="tns:ArrayOfSensorHostType" />
  <xs:complexType name="SensorHostType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCategory" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="SensorHostTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorHostType" nillable="true" type="tns:SensorHostType" />
  <xs:complexType name="ArrayOfDataTypeSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataTypeSource" nillable="true" type="tns:DataTypeSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataTypeSource" nillable="true" type="tns:ArrayOfDataTypeSource" />
  <xs:complexType name="DataTypeSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCategory" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTypeSource" nillable="true" type="tns:DataTypeSource" />
  <xs:complexType name="ArrayOfSensorTypeSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorTypeSource" nillable="true" type="tns:SensorTypeSource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorTypeSource" nillable="true" type="tns:ArrayOfSensorTypeSource" />
  <xs:complexType name="SensorTypeSource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IsCategory" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentID" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="SensorHostTypeID" type="ser:guid" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorTypeSource" nillable="true" type="tns:SensorTypeSource" />
  <xs:complexType name="ArrayOfSensorRuntime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorRuntime" nillable="true" type="tns:SensorRuntime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorRuntime" nillable="true" type="tns:ArrayOfSensorRuntime" />
  <xs:complexType name="ArrayOfSource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Source" nillable="true" type="tns:Source" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSource" nillable="true" type="tns:ArrayOfSource" />
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeSourceID" type="ser:guid" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Source" nillable="true" type="tns:Source" />
</xs:schema>