Construct3/Construct3/Construct.UX.ViewModels.Sources/Service References/SourcesServiceReference/SourcesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" />
  <xs:import schemaLocation="http://localhost:9000/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" />
  <xs:import schemaLocation="http://localhost:9000/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="sensor" nillable="true" type="q1:Sensor" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="addArgs" nillable="true" type="q2:AddSensorArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="question" nillable="true" type="q3:Question" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="addArgs" nillable="true" type="q4:AddQuestionArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddQuestionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorHost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="sensorHost" nillable="true" type="q5:SensorHost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorHostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSensorHostResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="sensorRuntime" nillable="true" type="q6:SensorRuntime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSensorDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSensorDefinitionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="loadArgs" nillable="true" type="q7:LoadSensorArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadSensorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="unloadArgs" nillable="true" type="q8:UnloadSensorArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadSensorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="startArgs" nillable="true" type="q9:StartSensorArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSensorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="stopArgs" nillable="true" type="q10:StopSensorArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopSensorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeGenericCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" minOccurs="0" name="commandArgs" nillable="true" type="q11:GenericSensorCommandArgs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeGenericCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorsResult" nillable="true" type="q12:ArrayOfSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanReadableSensors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanReadableSensorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetHumanReadableSensorsResult" nillable="true" type="q13:ArrayOfHumanReadableSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorCommands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorCommandsResult" nillable="true" type="q14:ArrayOfSensorCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetDataTypesResult" nillable="true" type="q15:ArrayOfDataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorHosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorHostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorHostsResult" nillable="true" type="q16:ArrayOfSensorHost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorHostTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorHostTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorHostTypesResult" nillable="true" type="q17:ArrayOfSensorHostType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypeSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataTypeSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetDataTypeSourcesResult" nillable="true" type="q18:ArrayOfDataTypeSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorTypeSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorTypeSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorTypeSourcesResult" nillable="true" type="q19:ArrayOfSensorTypeSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorRuntimes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorRuntimesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorRuntimesResult" nillable="true" type="q20:ArrayOfSensorRuntime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSourcesResult" nillable="true" type="q21:ArrayOfSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorsEmittingType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="dataType" nillable="true" type="q22:DataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorsEmittingTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="GetSensorsEmittingTypeResult" nillable="true" type="q23:ArrayOfSensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SensorLoadedCallbackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SensorLoadedCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SensorInstalledCallbackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SensorInstalledCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableSensorCommandsCallbackReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Construct.Server.Entities.Adapters" minOccurs="0" name="commands" nillable="true" type="q26:ArrayOfSensorCommand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AvailableSensorCommandsCallbackReceivedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>