Construct3/Construct3/Construct.UX.ViewModels.Sources/Service References/SourcesServiceReference/SourcesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Construct.Server.Models.Sources" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9000/00000000-0000-0000-0000-000000000000/Sources/SourcesService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AddSensorArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="DownloadUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HumanName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Overwrite" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZippedFileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddSensorArgs" nillable="true" type="tns:AddSensorArgs" />
  <xs:complexType name="AddQuestionArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Temp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddQuestionArgs" nillable="true" type="tns:AddQuestionArgs" />
  <xs:complexType name="LoadSensorArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartupArgs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoadSensorArgs" nillable="true" type="tns:LoadSensorArgs" />
  <xs:complexType name="UnloadSensorArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnloadSensorArgs" nillable="true" type="tns:UnloadSensorArgs" />
  <xs:complexType name="StartSensorArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartSensorArgs" nillable="true" type="tns:StartSensorArgs" />
  <xs:complexType name="StopSensorArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorTypeSourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SourceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopSensorArgs" nillable="true" type="tns:StopSensorArgs" />
  <xs:complexType name="GenericSensorCommandArgs">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ArgsList" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="CommandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorRendezvous" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenericSensorCommandArgs" nillable="true" type="tns:GenericSensorCommandArgs" />
</xs:schema>