Construct3/Construct3/Construct.UX.ViewModels.Credentials/Service References/ConstructCredentialsService/CredentialsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CredentialsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://daisy.colum.edu:8000/Credentials/CredentialsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://daisy.colum.edu:8000/Credentials/CredentialsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IModel_AreConstructServerCoreEntitiesValid_InputMessage">
    <wsdl:part name="parameters" element="tns:AreConstructServerCoreEntitiesValid" />
  </wsdl:message>
  <wsdl:message name="IModel_AreConstructServerCoreEntitiesValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreConstructServerCoreEntitiesValidResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_AreCredentialsAuthentic_InputMessage">
    <wsdl:part name="parameters" element="tns:AreCredentialsAuthentic" />
  </wsdl:message>
  <wsdl:message name="IModel_AreCredentialsAuthentic_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreCredentialsAuthenticResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_EnsureCoreEntitiesExist_InputMessage">
    <wsdl:part name="parameters" element="tns:EnsureCoreEntitiesExist" />
  </wsdl:message>
  <wsdl:message name="IModel_EnsureCoreEntitiesExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnsureCoreEntitiesExistResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_EnsureTestItem_InputMessage">
    <wsdl:part name="parameters" element="tns:EnsureTestItem" />
  </wsdl:message>
  <wsdl:message name="IModel_EnsureTestItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnsureTestItemResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_GetConnectionStringUsingConnectionStringName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionStringUsingConnectionStringName" />
  </wsdl:message>
  <wsdl:message name="IModel_GetConnectionStringUsingConnectionStringName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionStringUsingConnectionStringNameResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_GetConstructServerConnectionString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConstructServerConnectionString" />
  </wsdl:message>
  <wsdl:message name="IModel_GetConstructServerConnectionString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConstructServerConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_IsConstructServerAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConstructServerAvailable" />
  </wsdl:message>
  <wsdl:message name="IModel_IsConstructServerAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConstructServerAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_IsCredentialsServerAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCredentialsServerAvailable" />
  </wsdl:message>
  <wsdl:message name="IModel_IsCredentialsServerAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCredentialsServerAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_IsExistingConnectionString_InputMessage">
    <wsdl:part name="parameters" element="tns:IsExistingConnectionString" />
  </wsdl:message>
  <wsdl:message name="IModel_IsExistingConnectionString_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsExistingConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_IsValidationServerAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValidationServerAvailable" />
  </wsdl:message>
  <wsdl:message name="IModel_IsValidationServerAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidationServerAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_LoadTestItemData_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTestItemData" />
  </wsdl:message>
  <wsdl:message name="IModel_LoadTestItemData_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTestItemDataResponse" />
  </wsdl:message>
  <wsdl:message name="IModel_Reset_InputMessage">
    <wsdl:part name="parameters" element="tns:Reset" />
  </wsdl:message>
  <wsdl:message name="IModel_Reset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetResponse" />
  </wsdl:message>
  <wsdl:portType name="IModel">
    <wsdl:operation name="AreConstructServerCoreEntitiesValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/AreConstructServerCoreEntitiesValid" message="tns:IModel_AreConstructServerCoreEntitiesValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/AreConstructServerCoreEntitiesValidResponse" message="tns:IModel_AreConstructServerCoreEntitiesValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AreCredentialsAuthentic">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/AreCredentialsAuthentic" message="tns:IModel_AreCredentialsAuthentic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/AreCredentialsAuthenticResponse" message="tns:IModel_AreCredentialsAuthentic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnsureCoreEntitiesExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/EnsureCoreEntitiesExist" message="tns:IModel_EnsureCoreEntitiesExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/EnsureCoreEntitiesExistResponse" message="tns:IModel_EnsureCoreEntitiesExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnsureTestItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/EnsureTestItem" message="tns:IModel_EnsureTestItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/EnsureTestItemResponse" message="tns:IModel_EnsureTestItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionStringUsingConnectionStringName">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/GetConnectionStringUsingConnectionStringName" message="tns:IModel_GetConnectionStringUsingConnectionStringName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/GetConnectionStringUsingConnectionStringNameResponse" message="tns:IModel_GetConnectionStringUsingConnectionStringName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConstructServerConnectionString">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/GetConstructServerConnectionString" message="tns:IModel_GetConstructServerConnectionString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/GetConstructServerConnectionStringResponse" message="tns:IModel_GetConstructServerConnectionString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsConstructServerAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/IsConstructServerAvailable" message="tns:IModel_IsConstructServerAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/IsConstructServerAvailableResponse" message="tns:IModel_IsConstructServerAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCredentialsServerAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/IsCredentialsServerAvailable" message="tns:IModel_IsCredentialsServerAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/IsCredentialsServerAvailableResponse" message="tns:IModel_IsCredentialsServerAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsExistingConnectionString">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/IsExistingConnectionString" message="tns:IModel_IsExistingConnectionString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/IsExistingConnectionStringResponse" message="tns:IModel_IsExistingConnectionString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsValidationServerAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/IsValidationServerAvailable" message="tns:IModel_IsValidationServerAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/IsValidationServerAvailableResponse" message="tns:IModel_IsValidationServerAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTestItemData">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/LoadTestItemData" message="tns:IModel_LoadTestItemData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/LoadTestItemDataResponse" message="tns:IModel_LoadTestItemData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <wsdl:input wsaw:Action="http://tempuri.org/IModel/Reset" message="tns:IModel_Reset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IModel/ResetResponse" message="tns:IModel_Reset_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpEndpoint" type="tns:IModel">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AreConstructServerCoreEntitiesValid">
      <soap:operation soapAction="http://tempuri.org/IModel/AreConstructServerCoreEntitiesValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AreCredentialsAuthentic">
      <soap:operation soapAction="http://tempuri.org/IModel/AreCredentialsAuthentic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureCoreEntitiesExist">
      <soap:operation soapAction="http://tempuri.org/IModel/EnsureCoreEntitiesExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnsureTestItem">
      <soap:operation soapAction="http://tempuri.org/IModel/EnsureTestItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionStringUsingConnectionStringName">
      <soap:operation soapAction="http://tempuri.org/IModel/GetConnectionStringUsingConnectionStringName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConstructServerConnectionString">
      <soap:operation soapAction="http://tempuri.org/IModel/GetConstructServerConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsConstructServerAvailable">
      <soap:operation soapAction="http://tempuri.org/IModel/IsConstructServerAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCredentialsServerAvailable">
      <soap:operation soapAction="http://tempuri.org/IModel/IsCredentialsServerAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistingConnectionString">
      <soap:operation soapAction="http://tempuri.org/IModel/IsExistingConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsValidationServerAvailable">
      <soap:operation soapAction="http://tempuri.org/IModel/IsValidationServerAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTestItemData">
      <soap:operation soapAction="http://tempuri.org/IModel/LoadTestItemData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reset">
      <soap:operation soapAction="http://tempuri.org/IModel/Reset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CredentialsService">
    <wsdl:port name="basicHttpEndpoint" binding="tns:basicHttpEndpoint">
      <soap:address location="http://daisy.colum.edu:8000/Credentials/CredentialsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>